.img-iconq{
    background-image: url("../.././../../../assets/icons/icon_q.png");
    background-repeat: no-repeat;
    text-indent: 25px;
    background-position: left;
}

.bank-box{
    width: 90px;
    height: auto;
    text-align: center;
}
