<section class="bg-primary-color-700">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold ">
            <img class="w-24 h-8" src="../../../../../assets/Logo/logo_white.svg" />
        </a>
        <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md">
            <h2 class="mb-4 text-2xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl text-center font-inter">
                Crea una nueva contraseña
            </h2>
            <p class="font-inter font-normal text-base text-center mb-5 text-gray-500">Debe de incluir mayúscula, minúscula, número y un
                carácter especial.</p>
            <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5 font-inter" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="relative">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Nueva contraseña</label>
                    <input [type]="passwordTextType ? 'text' : 'password'" name="password" id="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                        [ngClass]="{ 'is__invalid-input': submitted && f['password'].errors }"
                        formControlName="password"
                        >
                        <span
                            class="absolute right-3 top-[70%] transform -translate-y-1/2 cursor-pointer text-muted-foreground"
                            (click)="togglePasswordTextType()">
                            <img [src]="
                          !passwordTextType
                            ? '../../../../../assets/icons/outline/eye-off.svg'
                            : '../../../../../assets/icons/outline/eye.svg'
                        " width="20px" />
                        </span>
                </div>
                <div class="mb-5 relative">
                    <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900">Confirmar
                        contraseña</label>
                    <input [type]="confirmPasswordTextType ? 'text' : 'password'" name="confirm-password" id="confirm-password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                        [ngClass]="{ 'is__invalid-input': submitted && f['password'].errors }"
                        formControlName="confirmPassword"
                        >
                        <span
                            class="absolute right-3 top-[70%] transform -translate-y-1/2 cursor-pointer text-muted-foreground"
                            (click)="togglePasswordconfirmTextType()">
                            <img [src]="
                          !confirmPasswordTextType
                            ? '../../../../../assets/icons/outline/eye-off.svg'
                            : '../../../../../assets/icons/outline/eye.svg'
                        " width="20px" />
                        </span>
                </div>
                <button type="submit"
                    class="w-full text-white bg-primary-color-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-5">Crear
                    nueva contraseña</button>
            </form>
            <p class="text-center font-inter text-sm font-normal mt-5">Si necesitas ayuda, puedes contactar <span>a Soporte.</span></p>
        </div>
    </div>
</section>