<div class="flex h-screen w-screen">
    <div class="flex flex-1 items-center justify-center">
        <div class="max-w-2xl overflow-y-auto px-4 sm:w-[600px]">
            <div id="toast" class="fixed top-5 z-50 hidden">
                <div
                  class="flex items-center p-4 mb-4 w-full max-w-xs text-gray-500 bg-white rounded-lg shadow"
                  role="alert"
                >
                  <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-blue-900 dark:text-blue-300">
                    <svg
                      class="w-5 h-5"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 8A8 8 0 11 2 8a8 8 0 0116 0zm-7 4a1 1 0 10-2 0 1 1 0 002 0zm-1-2a1 1 0 01-1-1V7a1 1 0 012 0v2a1 1 0 01-1 1z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </div>
                  <div class="ml-3 text-sm font-normal" id="toast-message">This is a toast.</div>
                  <button
                    type="button"
                    class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                    data-dismiss-target="#toast"
                    aria-label="Close"
                  >
                    <span class="sr-only">Close</span>
                    <svg
                      class="w-5 h-5"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4.293 9.293a1 1 0 011.414 0L10 13.586l4.293-4.293a1 1 0 011.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            <div class="flex">
                <img src="../../../../../assets/Logo/kexbal_mobile.svg" alt="" class="mb-5 mr-">
                <img src="../../../../../assets/Logo/logo_kexbal.svg" alt="" class="mb-5">

            </div>
            <!-- login form -->
            <form class="max-w-xl mx-auto font-inter" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="text-left mb-5">
                    <p class="text-xl font-bold font font-inter">Olvidaste tu contraseña</p>
                </div>
                <div class="mb-5">
                    <label for="email" class="block mb-2 text-sm font-medium font-inter">Correo electrónico</label>
                    <input formControlName="email" type="email" id="email"
                        [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full" />
                    <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
                        <div *ngIf="f['email'].errors['required']">Campo obligatorio</div>
                        <div *ngIf="f['email'].errors['email']">Correo electrónico invalido</div>
                    </div>
                </div>
                <div class="max-w-sm mx-auto mb-5">
                    <button type="submit"
                        class="text-white-kexbal-100 bg-primary-color-600 w-full rounded-lg h-10 font-inter font-medium text-sm">Recuperar contraseña</button>
                </div>
            </form>
            <div class="w-full text-center text-sm font-medium text-gray-kexbal-900 font-inter">
                <span class="mr-1 cursor-pointer flex items-center space-x-2 text-center" routerLink="/auth/sign-in">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
                      </svg>                      
                    Regresar</span>
            </div>
        </div>
       
    </div>
    <div class="auth-bg hidden flex-1 items-center justify-center bg-primary-color-600 bg-cover lg:flex">
        <div class="max-w-2xl space-y-4 p-8 text-left text-white-kexbal-100">
            <h1 class="text-4xl font-extrabold font-inter">Kexbal, la plataforma donde Compras o Vendes tus dólares de forma rápida y segura.</h1>
            <p class="text-base font-normal font-inter">En KEXBAL, conectamos a compradores y vendedores de dólares bancarizados. Olvídate de intermediarios innecesarios y accede a las mejores tasas del mercado. ¡Simplifica tus operaciones y maximiza el valor de tu dinero!
            </p>
        </div>
    </div>
</div>