<section class="bg-white">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-blue-kexbal-900 font-inter">Kexbal nace con el
                propósito
                de facilitar el intercambio de divisas entre personas </h2>
            <p class="mb-4 text-lg font-normal font-inter">Somos la solución ideal para quienes buscan realizar
                intercambios de divisas de manera
                eficiente, segura y confiable. Nuestra plataforma conecta directamente a compradores y vendedores,
                eliminando intermediarios innecesarios y ofreciendo las mejores tasas del mercado.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg"
                src="../../../../../assets/images/home.png"
                alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
                alt="office content 2">
        </div>
    </div>
</section>



<!--Seccion 2-->
<section class="bg-primary-color-600 text-white-kexbal-100 font-inter">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 md:grid md:grid-cols-2 lg:grid-cols-12">
        <div class="max-w-screen-md mt-1 sm:mt-12 col-span-4">
            <h2 class="mb-4 text-4xl font-extrabold font-inter">Nuestros valores</h2>
            <p class="sm:text-xl font-normal font-inter mr-6">Nuestro enfoque no se limita a la tecnología, sino también
                a las personas. Valoramos a
                cada miembro de nuestra comunidad y estamos aquí para que obtengas los mejores beneficios por tu dinero.
            </p>
        </div>
        <div class="col-span-8">
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0">
                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <img src="../../../../../assets/Logo/check.png" alt="" width="30px">
                    </div>
                    <h3 class="mb-2 text-xl font-bold font-inter">Integridad Financiera</h3>
                    <p class="font-inter text-base font-normal">Cada transacción es gestionada con responsabilidad y transparencia,
                        garantizando que el
                        intercambio de divisas se realice de manera justa y segura.</p>
                </div>
                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <img src="../../../../../assets/Logo/check.png" alt="" width="30px">
                    </div>
                    <h3 class="mb-2 text-xl font-bold">Transparencia y Confianza</h3>
                    <p class="font-inter text-base font-normal">Con procesos transparentes, los usuarios saben
                        exactamente qué esperar en cada
                        transacción,
                        sin costos ocultos ni sorpresas inesperadas.</p>
                </div>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0">
                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <img src="../../../../../assets/Logo/check.png" alt="" width="30px">
                    </div>
                    <h3 class="mb-2 text-xl font-bold">Eficiencia y Valor</h3>
                    <p class="font-inter text-base font-normal">Cada operación es rápida, simple y sin complicaciones,
                        para que obtengas el mayor
                        beneficio
                        posible.</p>
                </div>
                <div>
                    <div
                        class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <img src="../../../../../assets/Logo/check.png" alt="" width="35px">
                    </div>
                    <h3 class="mb-2 text-xl font-bold font-inter">Empoderamiento del Usuario</h3>
                    <p class="font-inter text-base font-normal">Desde la elección de tasas hasta la toma de decisiones,
                        nuestro objetivo es empoderarte
                        para
                        que tengas total autonomía en la gestión de tus divisas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Seccion 3-->
<section class="bg-primary-color-800 text-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-6 text-4xl font-extrabold  font-inter">Chatea
                con nuestro equipo de soporte por WhatsApp</h2>
            <p class="mb-6 font-normal text-xl md:text-lg font-inter">Recibe asistencia rápida y
                personalizada sobre compra y venta de dólares, tarifas, y uso de la plataforma. ¡Estamos aquí para
                ayudarte!</p>
            <button
                class="text-white bg-primary-color-500 font-medium rounded-lg text-base px-5 py-2.5 mr-2 mb-2 font-inter inline-flex">
                Chatea por Whatsapp <svg class="w-6 h-6 text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 12H5m14 0-4 4m4-4-4-4" />
                </svg>
            </button>
        </div>
    </div>
</section>