@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

.bg-gray-100 {
    background: transparent !important;
}

.datatable-wrapper .datatable-top {
    display: none !important;
}
.datatable-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-left: 22px;
    color: #6B7280;
    font-size: 0.875rem;
}
li.datatable-pagination-list-item.datatable-active {
    background-color: #DEDBFF;
   
}

button.datatable-pagination-list-item-link {
    color: #382CA6 !important;
    font-family: 'Inter' !important;
    font-size: 14px !important;
}
.datatable-wrapper .datatable-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 22px;
}

  /* Estilo para el enlace activo */
  .menu-item.active {
    color: #5C4AFF;
    text-decoration: underline;
  }

  .active {
    text-decoration: underline;
  }
@layer components {
    .dropdown-content {
        @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;
    }

    .dropdown:hover>.dropdown-content {
        @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
    }
}
