@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

.bg-gray-100 {
    background: transparent !important;
}

.bank-box{
    width: 120px;
    height: auto;
    text-align: center;
}

.datatable-wrapper .datatable-top {
    display: none !important;
}
.datatable-info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-left: 22px;
    color: #6B7280;
    font-size: 0.875rem;
}
li.datatable-pagination-list-item.datatable-active {
    background-color: #DEDBFF;
   
}

button.datatable-pagination-list-item-link {
    color: #382CA6 !important;
    font-family: 'Inter' !important;
    font-size: 14px !important;
}
.datatable-wrapper .datatable-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 22px;
}

  /* Estilo para el enlace activo */
  .menu-item.active {
    color: #5C4AFF;
    text-decoration: underline;
  }

  .active {
    text-decoration: underline;
  }

  .ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    border-color: #E5E7EB;
    border-style: solid;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-controls button.active {
  background-color: #DEDBFF;
  color: #fff;
}

.pagination-controls button:hover {
  background-color: #DEDBFF;
  color: #fff;
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #DEDBFF !important;
    color: #382CA6 !important;
    cursor: pointer;
    font-size: 14px !important;
    border-color: #E5E7EB !important;
    border-style: solid !important;
}
.ngx-pagination li {
    border-color: #E5E7EB !important;
    border-style: solid !important;
    margin-right: 0px !important;
}
.ngx-pagination li {
    border: solid 1px;
}
.ngx-pagination .pagination-previous a:before, .ngx-pagination .pagination-previous.disabled:before {
    content: "\ab";
    display: none !important;
    margin-right: 0.5rem;
}
.ngx-pagination .pagination-next a:after, .ngx-pagination .pagination-next.disabled:after {
    content: "\bb";
    display: none !important;
    margin-left: 0.5rem;
}
li.pagination-previous {
    border-radius: 10px 0px 0px 10px !important;
}
li.pagination-next {
    border-radius: 0px 10px 10px 0px !important;
}
@layer components {
    .dropdown-content {
        @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;
    }

    .dropdown:hover>.dropdown-content {
        @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
    }
}
